<div (load)="loadList()">
  <mat-card *ngFor= "let list of lists" (click) = "onSelect(list)" [style.cursor]="'pointer'" >
    <mat-card-title>
      {{list.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{list.id}}
    </mat-card-subtitle>
    </mat-card>
</div>

<!-- <mat-spinner *ngIf="!isPageLoaded"></mat-spinner>
<div *ngIf="isPageLoaded" (load)="loadList()">
  <mat-card *ngFor= "let list of lists" (click) = "onSelect(list)" [style.cursor]="'pointer'" >
    <mat-card-title>
      {{list.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{list.id}}
    </mat-card-subtitle>
    </mat-card>
</div>
 -->