<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->


<mat-dialog-content>
  <h2 mat-dialog-title>Add todo item</h2>
<form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
     
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Details</mat-label>
        <input matInput formControlName="text">
      </mat-form-field>

    </div>

    <mat-form-field appearance="fill">
      <mat-label>Deadline</mat-label>
      <input matInput formControlName="deadline" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 

    <div>
      <mat-dialog-actions>
        <button mat-raised-button color="primary" >ADD</button>
        <button mat-raised-button mat-dialog-close color="primary">EXIT</button>
        
      </mat-dialog-actions>
    </div>
    </form>
</mat-dialog-content>
