<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>{{title}}</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    
  </mat-toolbar>
  
  <mat-button-toggle-group name="view" aria-label="View">
    <mat-button-toggle value="home" routerLink="/list" routerLinkActive= "active" >Home</mat-button-toggle>
    <!-- <mat-button-toggle value="tasks" routerLink="/list-items" routerLinkActive= "inactive" >Tasks</mat-button-toggle> -->
  </mat-button-toggle-group>
</p>


<!-- <span>{{a}}</span> -->




<!-- <app-todo-list></app-todo-list> -->
<router-outlet></router-outlet>
<!-- <app-todo-item></app-todo-item> -->


<!-- <div *ngIf >
  <button (click) = loadList() > BIG SCARY BUTTON</button>
  <mat-card *ngFor= "let l of list">
    <mat-card-title>
      {{l.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{l.id}}
    </mat-card-subtitle>
  </mat-card>
</div> -->

