mat-card {
  background: antiquewhite;
  cursor: pointer;
}

span + span {
  margin-left: 10px;
}

.itemInstance {
  justify-content: space-between;
}
img {
  height: 36px;
  width: auto;
}

.pointer {
  cursor: pointer;
}

.items {
  background-color: whitesmoke;
  // padding: 1em;
}
.itemInstance {
  margin: 1em;
  border: black 1 1 1 1;
}

.right {
  float: right;
}
