 <p>todo-item works!</p>
<!-- <div>
    <button (click) = loadListItems() > BIG SCARY BUTTON</button>
    <mat-card *ngFor= "let l of item" [style.background]="l.completed == 'True' ? 'greenyellow' : 'indianred'">
      <mat-card-title>
        {{l.title}}
      </mat-card-title>
      <mat-card-content>
        {{l.text}}
      </mat-card-content>
      <mat-card-footer>
        {{l.deadline}}
      </mat-card-footer>
      <mat-card-subtitle>
        {{l.completed}}
      </mat-card-subtitle>
    </mat-card>
</div> -->


      <!-- <mat-card-subtitle>
        {{l.id}} -->
      <!-- </mat-card-subtitle> -->
      
      <!-- <mat-card-subtitle>
        {{l.todoListId}}
      </mat-card-subtitle> -->
      <!-- 
      <mat-card-subtitle>
        {{i.completed}}
      </mat-card-subtitle>
     -->

<!-- TODO: premenovat inputy a form -->
<form [formGroup]="todoItemForm" (ngSubmit)="onSubmit()">
  
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Meno</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      
    </div>
    
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Priezvisko</mat-label>
        <input matInput formControlName="surname">
      </mat-form-field>
      
    </div>
    
    <mat-form-field appearance="fill">
      <mat-label>Dátum narodenia</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
    
    <div>
      <button mat-raised-button color="primary">Odoslať</button>
    </div>
    </form>

