<div>
  <button mat-raised-button (click)="openDialog()">Add todo item</button>
</div>


<div class="form-group">
  <label for="search-text">Search</label>
  <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
    [(ngModel)]="searchText" placeholder="Enter text to search" 
    autofocus>
</div>

<mat-button-toggle-group [(ngModel)]="filterStatus" name="filter-text" id = "filter-text" aria-label="Font Style">
  <mat-button-toggle value="">Both</mat-button-toggle>
  <mat-button-toggle value="true">Finished</mat-button-toggle>
  <mat-button-toggle value="false">Unfinished</mat-button-toggle>
</mat-button-toggle-group>

<mat-list class="items">
  <div class="itemInstance" *ngFor="let item of items | search: searchText | filter: filterStatus">
    <div >
      <mat-checkbox   [checked]="item.completed" [(ngModel)]="item.completed" (change)="toggleCompleted(item.todoListId, item.id, item, item.completed)" class="custom-frame">
              <!-- <mat-divider></mat-divider> -->
      </mat-checkbox>
      <span style="margin-left: 1em;" >{{item.title}}</span>
      <div class="right">
      <span>{{item.deadline}}</span>
      <span class="pointer" (click)="deleteItem(item.todoListId, item.id)">&#x274C;</span>
      <span class="pointer" (click)="showItemDetail(item.id); ">&#11167;</span>
      </div>
      </div>
      <div  [id]="item.id" style="display: none; padding: 20; margin: 60;" [style.display]="itemDetailDisplayed" >{{item.text}} </div>
    </div>
</mat-list>


