<div>
  <button mat-raised-button (click)="openDialog()">Add todo item</button>
</div>


<div class="form-group">
  <label for="search-text">Search</label>
  <input type="email" class="form-control" id="search-text" aria-describedby="search-text" 
    [(ngModel)]="searchText" placeholder="Enter text to search" 
    autofocus>
</div>

<mat-button-toggle-group [(ngModel)]="filterStatus" name="filter-text" id = "filter-text" aria-label="Font Style">
  <mat-button-toggle value="">Both</mat-button-toggle>
  <mat-button-toggle value="true">Finished</mat-button-toggle>
  <mat-button-toggle value="false">Unfinished</mat-button-toggle>
</mat-button-toggle-group>

<div class="items">
  <div *ngFor="let i of item | search: searchText | filter: filterStatus" [style.background]="i.completed !== true ? 'indianred' : 'greenyellow'" >
    <mat-checkbox  [checked]="i.completed" [(ngModel)]="i.completed" (change)="toggleCompleted(i.todoListId, i.id, i, i.completed)" class="custom-frame"></mat-checkbox>
    <span>{{i.title}}</span>
    <!-- <span>{{i.text}}</span> -->
    <span>{{i.deadline}}</span>
    <span class="pointer" (click)="deleteItem(i.todoListId, i.id)">&#x274C;</span>
    <span class="pointer" (click)="showItemDetail()">&#11167;</span>
    <div >{{i.text}} </div>
  </div>
</div>


